
.idea/Waypoints.iml
.idea/vcs.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/artifacts/Waypoints_jar.xml
.idea/uiDesigner.xml
.idea/misc.xml
.idea/dictionaries/yarin.xml
.idea/libraries/ProtocolLib.xml
